a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.gradient-text {
  background: linear-gradient(90deg, #f6ce46, #d4a016, #b5840c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.button {
  background-color: #f6ce46;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
  transition: background-color 0.3s;
}

.button:hover {
  color: white;
  transition: background-color 0.3s;
  background-color: #b5840c;
}

.button:disabled {
  background-color: #C0DDF3;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: #C0DDF3;
}

.whatsapp {
  background-color: #25d366;
}

.whatsapp:hover {
  transition: background-color 0.3s;
  background-color: #128c7e;
}