<div id="commitment" class="flex flex-col items-center gap-4">
  <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
    Nuestro Compromiso
  </h2>
  <div class="w-full max-w-6xl">
    <div class="flex flex-col items-center gap-4 bg-offset p-6">
      <p class="max-w-2xl text-center text-offset">
        Nos enorgullecemos de ofrecer un servicio cercano, confiable y adaptado a sus necesidades específicas, manteniendo siempre la mejor relación calidad-precio. Además, nuestro compromiso con el medio ambiente nos impulsa a utilizar productos sostenibles y técnicas responsables.
      </p>
    </div>
  </div>
</div> 