---
---
<style>
</style>

<footer class="relative flex flex-col items-center justify-center border-y border-black">
  <div class="flex flex-col md:flex-row gap-4 py-16 w-2/3 justify-evenly">
    <div>
      <h4 class="font-bold">Navegación</h4>
      <ul>
        <li><a class="text-sm font-bold" style="color: #b5840c;" href="#services">Servicios</a></li>
        <li><a class="text-sm font-bold" style="color: #b5840c;" href="#whoami">Quiénes somos</a></li>
        <li><a class="text-sm font-bold" style="color: #b5840c;" href="tel:+34622423007">Contacto</a></li>
      </ul>
    </div>
    <div>
      <h4 id="contact" class="font-bold">Contáctanos</h4>
      <p class="text-sm">C&K Limpieza y Mantenimiento</p>
      <p class="text-sm">
        <span class="sm:inline hidden">Email:</span> 
        <a class="font-bold break-all sm:break-normal" style="color: #b5840c;" href="mailto:limpiezaymantenimientock@gmail.com">
          limpiezaymantenimientock@gmail.com
        </a>
      </p>
      <p class="text-sm">
        <span class="sm:inline hidden">Teléfono:</span> 
        <a class="font-bold" style="color: #b5840c;" href="tel:+34622423007">+34 622 42 30 07</a>
      </p>
    </div>
  </div>
  <div>
    <p class="text-xs text-gray-500 text-center">© 2025 Made with 🍧 by Frappé. Todos los derechos reservados.</p>
  </div>
</footer>
