---
import { Image } from 'astro:assets';
---

<div id="hero" class="flex flex-col items-center gap-4">
  <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
    CYK Limpiezas Y Mantenimiento
  </h2>
  <div class="w-full max-w-6xl">
    <div class="flex flex-col items-center gap-4 bg-offset p-6">
      <p class="max-w-2xl text-center text-offset">
        Es un placer presentarle a CYK Limpiezas Y Mantenimiento, empresa especializada en ofrecer servicios integrales de limpieza, mantenimiento y cuidado, diseñados para satisfacer las necesidades de comunidades, negocios y particulares.
      </p>
      <p class="max-w-2xl text-center text-offset">
        Sabemos lo importante que es para usted contar con espacios limpios, seguros y bien cuidados, y por eso nos esforzamos cada día para ofrecer soluciones personalizadas y un servicio de calidad excepcional.
      </p>
    </div>
  </div>
</div> 