---
import type { ServiceItem } from "~/types";

const services: Array<ServiceItem> = [
  {
    title: "Limpieza de cristales",
    description:
      "Desde ventanas en altura hasta escaparates, logramos que sus superficies brillen como el primer día.",
    image: "/images/splash-bg.jpeg",
  },
  {
    title: "Mantenimiento de comunidades",
    description:
      "Cuidamos de los espacios comunes, asegurándonos de que sean seguros y agradables para todos los residentes.",
    image: "/images/mantenimiento-de-comunidades.jpg",
  },
  {
    title: "Jardinería profesional",
    description:
      "Diseñamos y mantenemos áreas verdes, jardines y espacios exteriores que transmiten vida y frescura.",
    image: "/images/diseno-jardin.jpeg",
  },
  {
    title: "Mantenimiento de piscinas",
    description:
      "Nos encargamos de la limpieza, tratamiento del agua y mantenimiento técnico, asegurando piscinas impecables todo el año.",
    image: "/images/piscina.jpg",
  },
];
---

<div id="services" class="flex flex-col items-center gap-4">
  <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
    Servicios
  </h2>
  <p class="max-w-lg text-center font-extrabold text-2xl">
    Estos son los servicios que te ofrecemos.
  </p>
  <div class="w-full max-w-6xl">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 auto-rows-auto">
      {
        services.map((service, index) => (
          <li class={`flex flex-col items-center gap-4 border border-default bg-offset p-6 w-full ${
            services.length % 3 === 2 && index >= services.length - 2 
              ? index === services.length - 2 
                ? "lg:col-[1_/_span_1] lg:translate-x-[50%]" 
                : "lg:col-[3_/_span_1] lg:-translate-x-[50%]"
              : services.length % 3 === 1 && index === services.length - 1 
                ? "lg:col-start-2" 
                : ""
          }`}>
              <img src={service.image} alt={service.title} class="w-full h-48 object-cover" />
            <p class="text-center font-extrabold">{service.title}</p>
            <p class="text-center text-offset text-sm">{service.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</div>
