---
import type { ServiceItem } from "~/types";

const services: Array<ServiceItem> = [
  {
    title: "Limpieza",
    description:
      "Expertos en limpieza profesional para comercios, cristales en altura, comunidades y hogares, garantizando espacios impecables con tecnología avanzada.",
    image: "/src/assets/splash-bg.jpeg",
  },
  {
    title: "Jardinería",
    description:
      "Mantenimiento y diseño de jardines para parques, comunidades y particulares, creando espacios verdes cuidados y atractivos.",
    image: "/src/assets/diseno-jardin.jpeg",
  },
  {
    title: "Piscinas",
    description:
      "Limpieza, mantenimiento, instalación y reparación de equipos para piscinas, garantizando su óptimo estado y funcionamiento.",
    image: "/src/assets/piscina.jpg",
  },
];
---

<div id="services" class="flex flex-col items-center gap-4">
  <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
    Servicios
  </h2>
  <p class="max-w-lg text-center font-extrabold text-2xl">
    Estos son los servicios que te ofrecemos.
  </p>
  <ul class="grid max-w-6xl grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      services.map(({ title, description, image }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
            <img src={image} alt={title} class="w-full h-48 object-cover" />
          <p class="text-center font-extrabold">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</div>
