---
import HeroImage from "~/components/hero-image.astro";
---

<section class="relative h-full bg-black">
  <div id="splash-bg" class="absolute inset-0 opacity-40">
    <HeroImage />
  </div>
  <div class="relative flex justify-center h-full">
    <h2
      class="flex flex-col items-center justify-center gap-8"
    >
      <img src="/images/logock.png" alt="C&K Limpieza y Mantenimiento" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-6xl"
      >
        C&K Limpieza y Mantenimiento
      </div>
      <div
        class="max-w-xl text-center font-extrabold text-2xl italic"
        style="color: #f9fafb;"
      >
        Confianza, tranquilidad y satisfacción
      </div>

      <a href="tel:+34622423007" class="button text-2xl">Llámanos</a>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
