---
import { Icon } from "astro-icon/components";
import Button from "./button.astro";
import HeroImage from "~/components/hero-image.astro";
import { copies } from "~/content/copies";
---

<section class="relative h-full bg-black">
  <div id="splash-bg" class="absolute inset-0 opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full justify-center place-items-center">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="twemoji:shaved-ice" class="size-20 text-white md:size-32" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl"
      >
        {copies.h1}
      </div>
      <div class="max-w-xl text-center font-extrabold text-2xl" style="color: #f9fafb;">
        {copies.splashCopy}
      </div>
      <Button type="whatsapp" />
    </h2>
    </div>
  </div>    
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

